.project-card{
    background: transparent;

    .card{
        transition: transform 1s;
        transform-style: preserve-3d;
        // padding: 3rem;    
        
    }
    &:hover {
        .card {
            transform: rotateY(180deg);
            // .flip-card-front{
            //     display: none;
            // }
          }

        
    }
    

      .flip-card-front, .flip-card-back {
        
        box-shadow: -6px 8px 22px rgba(0, 0, 0, 0.1);
        // position: absolute;
        max-width: 100%;
        height: auto;
        backface-visibility: hidden;
      }
      .flip-card-back {
        height: 100%;
        position: absolute;
        top: 0;
        background-color: white;
        color: black;
        transform: rotateY(180deg);
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn{
          font-size: 14px;
        }
      }
    .project-img{
        width: calc(100% - 2rem);
        margin: 1rem;
    }

    .project-description{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 127.2%;
        text-align: justify;
        letter-spacing: -0.035em;
        margin: 0 1.5rem;
        padding-bottom: 1rem;
    }

    .project-name{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 127.2%;
        text-align: justify;
        letter-spacing: -0.035em;
        margin: 0 1.5rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px){
  .project-card{
    .project-description{
      font-size: 14px;
      line-height: 110%;
    }
  }
}