.board-section{
    .section-heading{
        margin: 6.5% 0 8rem 0;
    }

    .board-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}