.board-member-card{
    width: 20%;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .img-container{
        transform: scale(1.2);

        .img{
            transform: scale(1);
            filter: blur(1px) brightness(70%);
        }

        .links{
            display: inline;
        }
    }

    .img-container{
        width: 20rem;
        height: 20rem;
        margin: 5rem;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        transition: all .5s;

        .img{
            width: 100%;
            backface-visibility: hidden;
            transition: all .5s;
            transform: scale(1.2);
        }

        .links{
            width: fit-content;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            cursor: pointer;
            
            a{
                color: white;
                text-decoration: none;
                font-size: 4rem;
                transition: all .2s;

                &:not(:last-child){
                    margin-right: 2rem;
                }
            }

            .linkedin:hover{
                color: #0e76a8;
            }

            .instagram:hover{
                color: #dd2a7b;
            }

            .email:hover{
                color: #4285f4;
            }
        }
    }

    .name{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 2.4rem;
        line-height: 3.6rem;
        text-align: center;
        letter-spacing: 0.12em;
    }

    .post{
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 2.7rem;
        line-height: 4rem;
        text-align: center;
        letter-spacing: 0.12em;
    }
}

@media only screen and (max-width: 950px){
    .board-member-card{
        width: 50%;
        margin: 0;

        .img-container{
            width: 25rem;
            height: 25rem;
        }
    }
}

@media only screen and (max-width: 470px){
    .board-member-card{
        margin-bottom: 2rem;

        .img-container{
            width: 18rem;
            height: 18rem;
            margin: 2rem;
        }

        .name{
            font-size: 14px;
            line-height: 21px;
        }
        .post{
            font-size: 11px;
            line-height: 16px;
        }
    }
}