*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 7.5px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: #4e4e4e;
    border-radius: 10px;
}

@media only screen and (max-width: 950px){
    html{
        font-size: 57%;
    }
}

@media only screen and (max-width: 450px){
    html{
        font-size: 50%;
    }
}