.header{
    height: 83vh;
    background-color: #161616;
}

.about-us-section{
    .section-heading{
        padding: 8% 0;
    }

    .about-us{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;

        .video-container{
            width: 37%;
            margin-right: 1rem;
    
            .video{
                width: 100%;
                object-fit: cover;
            }
        }
    
        .about-us-text{
            width: calc(38% - 6rem);
            padding: 4rem 6rem;
            box-shadow: -9px 10px 31px rgba(0, 0, 0, 0.07);

            h1{
                font-family: Oswald;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 71px;
                text-align: center;
                letter-spacing: 0.12em;
            }

            p{
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: -0.03em;
                margin-top: 3rem;
            }
        }
    }

    .our-vision{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;

        .image{
            width: 37%;
            margin-left: 1rem;
        }

        .our-vision-text{
            width: calc(38% - 6rem);
            padding: 4rem 6rem;
            box-shadow: -9px 10px 31px rgba(0, 0, 0, 0.07);

            h1{
                font-family: Oswald;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 71px;
                text-align: center;
                letter-spacing: 0.12em;
            }

            p{
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: -0.03em;
                margin-top: 3rem;
            }
        }
    }

    .our-work{
        background: #161616;
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: #4e4e4e;
        text-align: center;

        .work{
            font-family: Oswald;
            font-style: normal;
            font-weight: normal;
            font-size: 49px;
            line-height: 73px;
            letter-spacing: 0.12em;
            margin: 2rem 0;
            min-width: 200px;

            p{
                margin-top: -2rem;
            }
        }
    }
}
